<h1>Welcome to Adventures</h1>


<ul>

<% @adventures.each do |a| %>
<li><%= link_to a.name, adventure_path(a.id) %>
<%= link_to "edit", edit_adventure_path(a.id) %>
<%= link_to "Delete", adventure_path(a.id), method: :delete %><br>
<% end %></li>
</ul>

<%= link_to "Add New Adventure", new_adventure_path %>
