<h1 class="ui center aligned header">Welcome to Adventures</h1>



<div class="ui left aligned grid">

<% @adventures.each do |a| %>
<div class="four wide column" >
<%= link_to a.name, adventure_path(a.id) %>
<%= link_to "edit", edit_adventure_path(a.id), class: 'ui button' %>
<%= link_to "Delete", adventure_path(a.id), method: :delete, class: 'ui red button'  %>
</div>
<% end %>
<%= link_to "Add New Adventure", new_adventure_path, class: 'ui button' %>

</div>

    

